* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 310px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input, select, button {
  outline: none;
}

.dn {
  display: none;
}

/*.visible-on-desktop {
  @media (max-width: $desktop) {
    display: none;
  }
}*/

/*.visible-on-tab {
  display: none;
  @media (max-width: $desktop) {
    display: block;
  }
  @media (max-width: $tablet) {
    display: none;
  }
}*/

/*.visible-on-mobile {
  display: none;
  @media (max-width: $tablet) {
    display: block;
  }
}*/

/*.invisible-on-mobile {
  @media (max-width: $tablet) {
    display: none;
  }
}*/
