.cellar {
  &__warp {
    @extend .warps;
    display: flex;
  }
  &__wrapper {
    width: 40%
  }
  &__logo {
    &--indent {
      margin-bottom: 30px;
    }
  }
  &__text {
    @include font(normal, 18px, 24px);
    color: #ffffff;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: flex-end;
  }
  &__item {
    color: white;
    @include font(normal, 18px, 24px);
    padding-top: 35px;
    padding-left: 50px;
    text-align: end;
    &:nth-child(n+6) {
      color: #ffd180;
    }
  }
  &--bg {
    background-color: #32425c;
  }
  &--indent {
    padding-bottom: 50px;
  }
}