.element {
  position: relative;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //width: 33.3%;
  &__image-wrapper {
    position: relative;
    z-index: 3;
    &--hov {
      &:hover {
        .element__image {
          transform: rotateX(90deg);
        }
      }
    }
  }
  &__image {
    width: 100%;
    position: relative;
    z-index: 2;
    transition: transform $transition-time*2 ease;
    height: 165px;
/*    object-fit: cover;
    object-position: center;*/
    &--indent {
      margin-bottom: 15px;
    }
  }
  &__add {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__block {
    text-align: center;
  }
  &__button {
    text-transform: uppercase;
    //@include font(normal, 14px, 18px);
    text-align: center;
    width: 135px;
    padding: 8px;
    &:first-child {
      margin-bottom: 8px;
    }
  }
  &__isp {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    @include font(bold, 18px, 20px);
    width: 75%;
    margin: 0 auto;
    &--indent {
      margin-bottom: 10px;
    }
  }
  &__old-price {
    height: 18px;
    @include font(bold, 17px, 18px);
    text-decoration: line-through;
    color: #A9A9A9;
    &--indent {
      margin-bottom: 10px;
    }
  }
  &__price {
    position: relative;
    display: inline-block;
    @include font(bold, 17px, 18px);
    padding: 10px 40px;
    background-color: #ee3643;
    color: white;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%,-25%);
      border: 38px solid transparent;
      border-top-color: white;
      border-bottom-color: white;
    }
/*    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(50%);
      border: 19px solid transparent;
      border-top-color: white;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(50%);
      border: 19px solid transparent;
      border-bottom-color: white;
    }*/
    &--indent {
      margin-bottom: 20px;
    }
  }
  &.new:after {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url('https://i.imgur.com/pZXNFdB.png') no-repeat;
    pointer-events: none;
  }
  &--manuf {
    height: 150px;
  }

}