.header {
  display: flex;
  justify-content: start;
  color: white;
  &__warp {
    @extend .warps;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
  }
  &__block {
    width: 50%;
    display: flex;
    align-items: center;
    &--indent {
      //padding-left: 20px;
    }
    &:nth-child(2) {
      justify-content: flex-end;
    }
  }
  &__logo {
    &--indent {
      //margin-top: 6px;
    }
  }
  &__element {
    display: flex;
    align-items: center;
    width: 150px;
  }
  &__icon {
    &--indent {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  &__text {
    font-family: 'Cuprum', sans-serif;
    @include font(normal, 18px, 1);
  }
  &__button {
    width: 140px;
    text-align: center;
    @include font(normal, 17px, 1);
  }
  .svg {
    @include square-size(16px);
    opacity: .3;
  }
  &__num {
    margin-left: 5px;
  }

  &--bg {
    background-color: #293449;
  }
}