.header {
  display: flex;
  justify-content: start;
  color: white;
  &__warp {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
  }
  &__block {
    width: 50%;
    display: flex;
    align-items: center;
    &--indent {
      //padding-left: 20px;
    }
    &:nth-child(2) {
      justify-content: flex-end;
    }
  }
  &__logo {
    &--indent {
      //margin-top: 6px;
    }
  }
  &__element {
    display: flex;
    align-items: center;
    position: relative;
    //width: 150px;
  }
  &__icon {
    &--indent {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  &__text {
    font-family: 'Cuprum', sans-serif;
    @include font(normal, 18px, 28px);
    background-color: transparent;
    border: none;
    color: transparent;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
    &::-webkit-input-placeholder {
      color: white;
    }
    &:focus, &:active {
      border-bottom-color: rgba(255,255,255,.2);
      color: white;
      &::-webkit-input-placeholder {
        color: transparent;
      }
    }
  }
  &__button {
    text-align: center;
    @include font(normal, 17px, 17px);
    /*    overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;*/
  }
  .svg {
    @include square-size(16px);
    opacity: .3;
  }
  &__num {
    margin-left: 5px;
  }

  &--bg {
    background-color: #293449;
  }
}