.logo {
  display: inline-block;
  position: relative;
  &__shadow {
    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -5px;
      height: 5px;
      background-color: #b52933;
      z-index: 1;
    }
  }
}