.logo {
  display: inline-block;
  position: relative;
  &__text {
    font-family: 'Cuprum', sans-serif;
    @include font(normal, 24px, 24px);
    color: white;
    &:hover {
      color: currentColor;
    }
  }
  &__footer-text {
    font-family: 'Cuprum', sans-serif;
    @include font(normal, 30px, 30px);
    color: white;
    &:hover {
      color: currentColor;
    }
  }
  &__shadow {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -5px;
    height: 5px;
    background-color: #b52933;
    z-index: 1;
  }
  &--bg {
    background-color: $primary;
  }
  &--indent {
    padding: 12px 50px 6px;
  }
  &--footer-indent {
    padding: 20px 50px 25px;
  }
}