.main-sect {
  &__warp {
    &--indent {
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 60px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-right: -10px;
    margin-left: -10px;
    &--indent {
      padding-top: 45px;
      padding-bottom: 38px;
    }
  }
  &__label {
    width: 33%;
    padding-right: 10px;
    padding-left: 10px;
    color: $primary;
    @include font(normal, 16px, 23px);
    font-style: italic;
    &--indent {
      padding-left: 50px;
    }
  }
  &__block {
    position: relative;
    width: 33%;
    //padding-right: 10px;
    //padding-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__phone {
    background-color: transparent;
    padding: 4px 12px 4px 40px;
    border: 4px solid white;
    color: $primary;
    width: 100%;
    @include font(normal, 21px, 28px);
     &::-webkit-input-placeholder {
       color: $primary;
    }
  }
  &__text {
    @include font(normal, 14px, 24px);
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    color: #B7BFC8;
    .svg {
      @include square-size(20px);
    }
  }
  &__buttons-block {
    width: 33%;
    padding-right: 10px;
    padding-left: 10px;
  }
  &__buttons {
    display: flex;
    align-items: start;
    justify-content: flex-end;
  }
  &__button {
    @include font(normal, 21px, 21px);
    & + .main-sect__button {
      margin-left: 10px;
    }
    //&:nth-child(n+1) {
    //  margin-right: 10px;
    //}
  }
  &__links {
    display: flex;
    justify-content: center;
    & *:not(:last-child) {
      //padding-left: 30px;
    }
    &--indent {
      margin-top: 10px;
    }
  }
  &__link {
    position: relative;
    text-decoration: underline;
    transition: all $transition-time ease;
    color: #32425C;
    font-family: 'Cuprum', sans-serif;
    @include font(normal, 16px, 18px);
    &:not(:last-child) {
      margin-right: 30px;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translate(50%,-50%);
        @include square-size(6px);
        border-radius: 50%;
        background-color: #32425C;
      }
    }
    &:hover {
      color: currentColor;
      opacity: .8;
    }
  }
  &__nav {
    border: 5px solid fuchsia;
    &--indent {
      padding-bottom: 60px;
    }
  }
  &--bg {
    background-color: #f3f7f8;
  }
}