.pagination {
  display: flex;
  align-items: center;
  & *:not(:last-child) {
    margin-right: 10px;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {/*
    &+.pagination__item {
      margin-left: 5px;
    }*/
  }
  &__link {
    position: relative;
    z-index: 5;
    display: inline-block;
    min-width: 38px;
    padding: 9px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    @include font(normal, 13px, 18px);
    color: black;
    transition: background-color $transition-time ease, color $transition-time ease;
    &.active {
      background-color: #ee3643;
      color: white;
    }
  }
  &__direction {
    position: relative;
    z-index: 5;
    display: inline-block;
    padding: 9px 20px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    @include font(normal, 13px, 18px);
    color: black;
    transition: background-color $transition-time ease, color $transition-time ease;
    &.active {
      background-color: #ee3643;
      color: white;
    }
  }
}