.products {
  &__warp {
    }
  &__green {
    height: 123px;
    //background-color: greenyellow;
    &--x2 {
      height: 266px;
    }
    &--tops {
      margin-top: 20px;
    }
  }
  &__items {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    &:not(:nth-child(2)) {
      margin-bottom: 20px;
    }
  }
  &__item {
    padding-right: 10px;
    padding-left: 10px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    &--slider {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  }

  &--indent {
    padding: 60px 0;
  }
}