.zel {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    top: 75%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.1);

  }
  &__temp {
    font-size: 16px;
  }
  &--height {
    height: 500px;
  }
}


.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: darkgreen;
  transition: background 2s ease;
  &:hover {
    background-color: darkblue;
  }
}
