// Colors
$primary: #EE3643;
 $secondary: #f9f5f0;

$catalog-primary: #f7f3ec;
//Grid

//Size
$content-width: 960px;
$dot-size: 10px;

//Time

$transition-time: .2s;

// Maket
$maket-visible: 0; // 0 - Invisible | 1 - Visible

